{
    "mysql":{
        "host": "127.0.0.1",
        "port": 3306,
        "username": "gjh",
        "password": "123",
        "databasename": ""
    },
    "redis":{
        "host": "127.0.0.1"
        "port": 6379
        "password": "123"
        "timeout": 3
    },
    "yunpian":{
        "apikey":""
    }
}